.header {
    height: 50px;
    display: flex;
    align-items: center;
}

.header-container {
    width: 1140px;
    margin: 0 auto;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    position: absolute;
    top: -3px;
    right: 15px;

    font-size: 35px;
    display: none;

    transition: all 0.25s ease-out;
}

@media (max-width: 678px) {
    .menuIcon {
        display: inline-block;
    }
}